data/*
!data/manifest/
data/manifest/*
!data/manifest/.gitkeep
!data/manifest/*.json

_site/
.quarto/
reports/*.html
reports/*_files/
dist/
*.egg-info/

__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ipynb_checkpoints/

.DS_Store

/.quarto/
**/*.quarto_ipynb
